@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@500&family=Karla:wght@500&family=Kumbh+Sans:wght@400;700&family=League+Spartan&family=Lexend+Deca:wght@400;700&family=Montserrat:wght@500&family=Mukta:wght@800&family=Outfit:wght@400;700&family=Poppins:wght@600&family=Roboto&display=swap');

body{
    margin: 20px;
    padding: 0;
    background-color: hsl(30, 38%, 92%);
}

.container{
    display: flex;
    justify-content: center;
    margin: 100px;
}

.container img{
    width: 300px;
    height: 450px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.text{
    width: 300px;
    height: 450px;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
}

#perfume{
    margin-left: 25px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.title{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    margin-left: 25px;
    color: hsl(212, 21%, 14%);
    font-size: 35px;
    line-height: 35px;
    padding-right: 30px;
}

.para{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    margin-left: 25px;
    margin-right: 20px;
    font-size: 16px;
}

.dollar{
    position: relative;
    top: 20px;
    margin-left: 25px;
    font-size: 35px;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-family: 'Fraunces', serif;
}

.newdollar{
    position: relative;
    top: 15px;
    bottom: 5px;
    left: 15px;
    right: 20px;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    text-decoration: line-through;
}

.cart{
    position: relative;
    left: 25px;
    top: 50px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    width: 220px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 700px) { 
    .container 
    {display: flex;
    flex-direction: column; }
}